ResoniteEasyFunctionWrapper/ResoniteEasyFunctionWrapper/ResoniteEasyFunctionWrapper/bin
ResoniteEasyFunctionWrapper/ResoniteEasyFunctionWrapper/ResoniteEasyFunctionWrapper/obj
ResoniteEasyFunctionWrapper/ResoniteEasyFunctionWrapper/.vs
*.user
.git
.vs/